services:
  kafka:
    image: apache/kafka:3.7.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_LOG_DIRS: '/tmp/kraft-combined-logs'
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'

  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: datastore
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ../src/init.sql:/docker-entrypoint-initdb.d/init.sql

  producer:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    depends_on:
      - kafka
      - postgres
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      POSTGRES_HOST: postgres
      POSTGRES_DB: datastore
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    command: python src/producer.py
    restart: unless-stopped

  db-init:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    depends_on:
      - postgres
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: datastore
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    command: sh -c "sleep 10 && python src/database.py"
    restart: "no"

  consumer:
    build:
      context: ..
      dockerfile: infra/Dockerfile
    depends_on:
      - kafka
      - postgres
      - db-init
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:29092
      POSTGRES_HOST: postgres
      POSTGRES_DB: datastore
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    command: python src/consumer.py
    restart: unless-stopped

  spark-analytics:
    build:
      context: ..
      dockerfile: infra/Dockerfile.spark
    depends_on:
      - postgres
      - db-init
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_DB: datastore
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    restart: unless-stopped

volumes:
  postgres_data: